# Read the Inventory of Items

In [35]:
import json

data = open("record.json", 'r')
text = data.read()
data.close()

record = json.loads(text)

In [ ]:
record

## Now ask to user what item he want and quntity also

In [109]:
User_product = str(input("Enter the product id: "))
print("Name of the product: ",record[User_product]['Name'])
User_quntity = int(input("the quntity user want: "))
#User_Name = str(input("Enter your name: "))
#User_Phone = str(input("Enter your contact no.: "))
#Payment_method  = str(input("Enter payment method(Cash\Card): "))
print('*************************************************************')

print("Name of the product: ",record[User_product]['Name'])
print("Total quntity: ",record[User_product]['Quntity'])
print("Price of single item: ",record[User_product]['Price'])

print('*************************************************************')
#print("Name of customer: ",User_Name)
#print("Contact: " ,User_Phone)
#print("Mode of Payment: " ,Payment_method)
print("Product: " ,record[User_product]['Name'])
print("Quntity: " ,User_quntity)
print("billing amount: " ,record[User_product]['Price'] * User_quntity)
print('*************************************************************')

Enter the product id: 1029
Name of the product:  Noodels
the quntity user want: 2
*************************************************************
Name of the product:  Noodels
Total quntity:  70
Price of single item:  150
*************************************************************
Product:  Noodels
Quntity:  2
billing amount:  300
*************************************************************

# Updata the record after the purchasing product

In [110]:
print("Product id: ",User_product)
print("Name of the product: ",record[User_product]['Name'])
print("Total quntity: ",record[User_product]['Quntity'])

record[User_product]['Quntity'] = record[User_product]['Quntity'] - User_quntity

if (record[User_product]['Quntity']<=0):
  print("Out of stock")
else:
  print("Left Quntity: ",record[User_product]['Quntity'])

Product id:  1029
Name of the product:  Noodels
Total quntity:  70
Left Quntity:  68

# Check the Quntity after purchasing

In [111]:
record

{'1001': {'Exp_data': '03oct2021',
  'Manuf_data': '10aug2020',
  'Name': 'Amul Ghee',
  'Price': 750,
  'Quntity': 25},
 '1002': {'Exp_data': '10oct2021',
  'Manuf_data': '02aug2020',
  'Name': 'KitKat',
  'Price': 50,
  'Quntity': 52},
 '1003': {'Exp_data': '11oct2021',
  'Manuf_data': '01aug2020',
  'Name': 'Milk',
  'Price': 60,
  'Quntity': 10},
 '1004': {'Exp_data': '17oct2021',
  'Manuf_data': '06aug2020',
  'Name': 'Rice',
  'Price': 500,
  'Quntity': 90},
 '1005': {'Exp_data': '10oct2021',
  'Manuf_data': '07aug2020',
  'Name': 'Daal',
  'Price': 320,
  'Quntity': -20},
 '1006': {'Exp_data': '10oct2021',
  'Manuf_data': '12aug2020',
  'Name': 'Cornflore',
  'Price': 79,
  'Quntity': 50},
 '1007': {'Exp_data': '10oct2022',
  'Manuf_data': '22aug2020',
  'Name': 'Protin',
  'Price': 90,
  'Quntity': 30},
 '1008': {'Exp_data': '14oct2022',
  'Manuf_data': '21aug2020',
  'Name': 'Allmond Oil',
  'Price': 190,
  'Quntity': -4},
 '1009': {'Exp_data': '10oct2022',
  'Manuf_data': '23aug2020',
  'Name': 'Sugar',
  'Price': 60,
  'Quntity': 100},
 '1010': {'Exp_data': '03aug2021',
  'Manuf_data': '01aug2021',
  'Name': 'Bread',
  'Price': 70,
  'Quntity': 30},
 '1011': {'Exp_data': '11oct2022',
  'Manuf_data': '12aug2020',
  'Name': 'Peenut',
  'Price': 390,
  'Quntity': 100},
 '1012': {'Exp_data': '03oct2021',
  'Manuf_data': '10aug2020',
  'Name': 'Amul Chees',
  'Price': 150,
  'Quntity': 50},
 '1013': {'Exp_data': '10oct2021',
  'Manuf_data': '02aug2020',
  'Name': 'Muslii',
  'Price': 650,
  'Quntity': 52},
 '1014': {'Exp_data': '11oct2021',
  'Manuf_data': '01aug2020',
  'Name': 'Maggi',
  'Price': 60,
  'Quntity': 10},
 '1015': {'Exp_data': '17oct2021',
  'Manuf_data': '02aug2020',
  'Name': 'oats',
  'Price': 340,
  'Quntity': 60},
 '1016': {'Exp_data': '10oct2021',
  'Manuf_data': '07aug2020',
  'Name': 'Daal',
  'Price': 320,
  'Quntity': 70},
 '1017': {'Exp_data': '10oct2021',
  'Manuf_data': '12aug2020',
  'Name': 'Corn',
  'Price': 79,
  'Quntity': 50},
 '1018': {'Exp_data': '10oct2022',
  'Manuf_data': '22aug2020',
  'Name': 'Meat Masala',
  'Price': 90,
  'Quntity': 30},
 '1019': {'Exp_data': '14oct2022',
  'Manuf_data': '21aug2020',
  'Name': 'Sampoo',
  'Price': 190,
  'Quntity': 500},
 '1020': {'Exp_data': '10oct2022',
  'Manuf_data': '23aug2020',
  'Name': 'Colgate',
  'Price': 60,
  'Quntity': 700},
 '1021': {'Exp_data': '03aug2021',
  'Manuf_data': '01aug2021',
  'Name': 'Panneer',
  'Price': 370,
  'Quntity': 300},
 '1022': {'Exp_data': '11oct2022',
  'Manuf_data': '12aug2020',
  'Name': 'Peenut',
  'Price': 390,
  'Quntity': 98},
 '1023': {'Exp_data': '13oct2021',
  'Manuf_data': '11aug2020',
  'Name': 'Namkeen',
  'Price': 110,
  'Quntity': 88},
 '1024': {'Exp_data': '11oct2021',
  'Manuf_data': '01aug2020',
  'Name': 'Milk Powder',
  'Price': 60,
  'Quntity': 100},
 '1025': {'Exp_data': '17oct2021',
  'Manuf_data': '06aug2020',
  'Name': 'Pasta',
  'Price': 500,
  'Quntity': 90},
 '1026': {'Exp_data': '10oct2021',
  'Manuf_data': '07aug2020',
  'Name': 'Tomato Kactup',
  'Price': 2,
  'Quntity': 70},
 '1027': {'Exp_data': '10oct2021',
  'Manuf_data': '12aug2021',
  'Name': 'Egg',
  'Price': 10,
  'Quntity': 500},
 '1028': {'Exp_data': '15oct2022',
  'Manuf_data': '22aug2021',
  'Name': 'Green tea',
  'Price': 450,
  'Quntity': 300},
 '1029': {'Exp_data': '10oct2022',
  'Manuf_data': '02aug2020',
  'Name': 'Noodels',
  'Price': 150,
  'Quntity': 68},
 '1030': {'Exp_data': '24oct2022',
  'Manuf_data': '28aug2020',
  'Name': 'Boost',
  'Price': 190,
  'Quntity': 100},
 '1031': {'Exp_data': '08aug2021',
  'Manuf_data': '02jan2021',
  'Name': 'Face Wash',
  'Price': 180,
  'Quntity': 200},
 '1032': {'Exp_data': '19sep2021',
  'Manuf_data': '01jan2021',
  'Name': 'Hand Wash',
  'Price': 80,
  'Quntity': 100},
 '1033': {'Exp_data': '10dec2022',
  'Manuf_data': '02aug2021',
  'Name': 'Pickel',
  'Price': 250,
  'Quntity': 30},
 '1034': {'Exp_data': '29dec2021',
  'Manuf_data': '02jan2021',
  'Name': 'Soup',
  'Price': 25,
  'Quntity': 80},
 '1035': {'Exp_data': '19sep2021',
  'Manuf_data': '05april2021',
  'Name': 'Cold drink',
  'Price': 89,
  'Quntity': 210},
 '1036': {'Exp_data': '22aug2021',
  'Manuf_data': '01feb2021',
  'Name': 'Pepper Boat',
  'Price': 25,
  'Quntity': 165}}

# Save the perday sell on records use json (convert text file)

In [52]:
js = json.dumps(record)
 
file = open("record.json",'w')
file.write(js)
file.close()

# Seles Json
If user purchase multiple item

In [53]:
Purchasing  = {1:{'Customer name':User_Name,'Contact':User_Phone,'Product':User_product ,'Name_of_product':record[User_product]['Name'],
                  'Quntity':User_quntity, 'Amount':record[User_product]['Price'] * User_quntity}}

In [54]:
Purchasing

{1: {'Amount': 780,
  'Contact': '8922003311',
  'Customer name': 'Netu',
  'Name_of_product': 'Peenut',
  'Product': '1022',
  'Quntity': 2}}

In [114]:
User_product = str(input("Enter the product id: "))
print("Name of the product: ",record[User_product]['Name'])
User_quntity = int(input("the quntity user want: "))

print("******************Customer Detail****************************")
User_Name = str(input("Enter your name: "))
User_Phone = str(input("Enter your contact no.: "))
Payment_method  = str(input("Enter payment method(Cash\Card): "))

print('*******************Product detail****************************')
print("Name of the product: ",record[User_product]['Name'])
print("Total quntity: ",record[User_product]['Quntity'])
print("Price of single item: ",record[User_product]['Price'])

print('*********************Billing detail************************')
print("Name of customer: ",User_Name)
print("Contact: " ,User_Phone)
print("Mode of Payment: " ,Payment_method)
print("Product: " ,record[User_product]['Name'])
print("Quntity: " ,User_quntity)
print("billing amount: " ,record[User_product]['Price'] * User_quntity)
print('*************************************************************')


Purchasing[(len(Purchasing)+1)] = {'Customer name':User_Name,'Contact':User_Phone,'Product':User_product ,'Name_of_product':record[User_product]['Name'],
                  'Quntity':User_quntity, 'Amount':record[User_product]['Price'] * User_quntity}

Enter the product id: 1014
Name of the product:  Maggi
the quntity user want: 5
******************Customer Detail****************************
Enter your name: Rahul
Enter your contact no.: 88875220292
Enter payment method(Cash\Card): Card
*******************Product detail****************************
Name of the product:  Maggi
Total quntity:  10
Price of single item:  60
*********************Billing detail************************
Name of customer:  Rahul
Contact:  88875220292
Mode of Payment:  Card
Product:  Maggi
Quntity:  5
billing amount:  300
*************************************************************

In [115]:
Purchasing

{1: {'Amount': 780,
  'Contact': '8922003311',
  'Customer name': 'Netu',
  'Name_of_product': 'Peenut',
  'Product': '1022',
  'Quntity': 2},
 2: {'Amount': 420,
  'Contact': '8291002921',
  'Customer name': 'Geeta',
  'Name_of_product': 'Colgate',
  'Product': '1020',
  'Quntity': 7},
 3: {'Amount': 780,
  'Contact': '9920122022',
  'Customer name': 'Dhoni',
  'Name_of_product': 'Peenut',
  'Product': '1011',
  'Quntity': 2},
 4: {'Amount': 160,
  'Contact': '9100282811',
  'Customer name': 'Pollard',
  'Name_of_product': 'Hand Wash',
  'Product': '1032',
  'Quntity': 2},
 5: {'Amount': 540,
  'Contact': '7200182731',
  'Customer name': 'Umang',
  'Name_of_product': 'Face Wash',
  'Product': '1031',
  'Quntity': 3},
 6: {'Amount': 780,
  'Contact': '3288191828',
  'Customer name': 'Tommy',
  'Name_of_product': 'Peenut',
  'Product': '1011',
  'Quntity': 2},
 7: {'Amount': 720,
  'Contact': '8923235421',
  'Customer name': 'Harsha',
  'Name_of_product': 'Face Wash',
  'Product': '1031',
  'Quntity': 4},
 8: {'Amount': 60,
  'Contact': '888750088',
  'Customer name': 'Rishi',
  'Name_of_product': 'Sugar',
  'Product': '1009',
  'Quntity': 1},
 9: {'Amount': 490,
  'Contact': '7282218382',
  'Customer name': 'Dee[pak',
  'Name_of_product': 'Bread',
  'Product': '1010',
  'Quntity': 7},
 10: {'Amount': 380,
  'Contact': '2201928334',
  'Customer name': 'Ankit',
  'Name_of_product': 'Allmond Oil',
  'Product': '1008',
  'Quntity': 2},
 11: {'Amount': 120,
  'Contact': '89829292',
  'Customer name': 'rishu',
  'Name_of_product': 'Colgate',
  'Product': '1020',
  'Quntity': 2},
 12: {'Amount': 300,
  'Contact': '88875220292',
  'Customer name': 'Rahul',
  'Name_of_product': 'Maggi',
  'Product': '1014',
  'Quntity': 5}}

# After the all transaction we save the data on text

In [116]:
Transaction = json.dumps(Purchasing)

In [117]:
Transaction

'{"1": {"Customer name": "Netu", "Contact": "8922003311", "Product": "1022", "Name_of_product": "Peenut", "Quntity": 2, "Amount": 780}, "2": {"Customer name": "Geeta", "Contact": "8291002921", "Product": "1020", "Name_of_product": "Colgate", "Quntity": 7, "Amount": 420}, "3": {"Customer name": "Dhoni", "Contact": "9920122022", "Product": "1011", "Name_of_product": "Peenut", "Quntity": 2, "Amount": 780}, "4": {"Customer name": "Pollard", "Contact": "9100282811", "Product": "1032", "Name_of_product": "Hand Wash", "Quntity": 2, "Amount": 160}, "5": {"Customer name": "Umang", "Contact": "7200182731", "Product": "1031", "Name_of_product": "Face Wash", "Quntity": 3, "Amount": 540}, "6": {"Customer name": "Tommy", "Contact": "3288191828", "Product": "1011", "Name_of_product": "Peenut", "Quntity": 2, "Amount": 780}, "7": {"Customer name": "Harsha", "Contact": "8923235421", "Product": "1031", "Name_of_product": "Face Wash", "Quntity": 4, "Amount": 720}, "8": {"Customer name": "Rishi", "Contact": "888750088", "Product": "1009", "Name_of_product": "Sugar", "Quntity": 1, "Amount": 60}, "9": {"Customer name": "Dee[pak", "Contact": "7282218382", "Product": "1010", "Name_of_product": "Bread", "Quntity": 7, "Amount": 490}, "10": {"Customer name": "Ankit", "Contact": "2201928334", "Product": "1008", "Name_of_product": "Allmond Oil", "Quntity": 2, "Amount": 380}, "11": {"Customer name": "rishu", "Contact": "89829292", "Product": "1020", "Name_of_product": "Colgate", "Quntity": 2, "Amount": 120}, "12": {"Customer name": "Rahul", "Contact": "88875220292", "Product": "1014", "Name_of_product": "Maggi", "Quntity": 5, "Amount": 300}}'

In [119]:
file = open("Purchasing.json",'w')
file.write(Transaction)
file.close()